<!DOCTYPE html>
<html lang="ru" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | HYRAHMO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Manrope:wght@400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

    <nav>
        <a href="/" class="logo">HYRAHMO</a>
        
        <div class="nav-controls">
            <!-- Блог -->
            <a href="https://blog.hyrahmo.com" target="_blank" class="header-blog-link">BLOG</a>
            <!-- Тема -->
            <button class="clean-btn" onclick="toggleTheme()" id="themeBtn">☀</button>
        </div>
    </nav>

    <main class="page-wrapper">
        {{ content }}
    </main>

    <footer>
        <div class="footer-links">
            <a href="mailto:contact@hyrahmo.com">Email</a>
            <a href="https://github.com/hyrahmo" target="_blank">GitHub</a>
            <a href="https://t.me/hyrahmo" target="_blank">Telegram</a>
        </div>
        <p>HYRAHMO &copy; {{ site.time | date: '%Y' }}. All Systems Normal.</p>
    </footer>

    <script>
        // ЛОГИКА ТЕМЫ
        const savedTheme = localStorage.getItem('theme') || 'dark';
        setTheme(savedTheme);

        function toggleTheme() {
            const current = document.documentElement.getAttribute('data-theme');
            const next = current === 'dark' ? 'light' : 'dark';
            setTheme(next);
        }

        function setTheme(theme) {
            document.documentElement.setAttribute('data-theme', theme);
            localStorage.setItem('theme', theme);
            document.getElementById('themeBtn').innerText = theme === 'dark' ? '☀' : '☾';
        }
    </script>
</body>
</html>
