<!DOCTYPE html>
<html lang="ru" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | HYRAHMO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Manrope:wght@300;500;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

    <nav>
        <div class="nav-container">
            <a href="/" class="logo">HYRAHMO_</a>
            <div class="menu-links">
                <a href="/">Главная</a>
                <a href="/media">Медиа & Biz</a>
                <a href="/cs">CS & Code</a>
                <a href="/physics">Science</a>
                <a href="/links">Все ссылки</a>
                <!-- ССЫЛКА НА QUARTZ БЛОГ -->
                <a href="https://blog.hyrahmo.com" class="quartz-btn" target="_blank">Wiki / Quartz ↗</a>
            </div>
        </div>
    </nav>

    <main class="page-wrapper">
        {{ content }}
    </main>

    <footer>
        &copy; 2025 HYRAHMO. @hyrahmo on all platforms.
    </footer>

</body>
</html>
